    body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    font-family: 'Arial', sans-serif;
}

.container {
    background: white;
    border: 1px;
    border-color: #71b7e6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.todo-app {
    text-align: center;
}

.todo-app h2 {
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

#new-task {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-btn {
    background: #e40d92;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.add-btn:hover {
    background: #d80085;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

ul li {
    background: #f2f2f2;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li .delete-btn {
    background: #e74c3c;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

ul li .delete-btn:hover {
    background: #c41401;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clear-btn {
    background: #449dad;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.clear-btn:hover {
    background: #0099ff;
}

.submit {
    background: #8e44ad;
    margin-left: 35%;
    margin-top: 20px;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.submit {
    background: #732d91;
}